@charset "UTF-8";
/* début de copier coller design bouttons */
.boutton,
.popUpBackground__options h1 {
  width: 15rem;
  color: white;
  border: solid rgba(0, 0, 0, 0);
  border-width: 0.2rem 0.9rem 0.9rem;
  background: conic-gradient(at left 0.7rem bottom 0.7rem, rgba(0, 0, 0, 0) 90deg, rgba(255, 255, 255, 0.3) 0 225deg, rgba(255, 255, 255, 0.6) 0) border-box, conic-gradient(at left 0.9rem bottom 0.9rem, rgba(0, 0, 0, 0) 90deg, rgb(95, 157, 55) 0) 0 100%/calc(100% - 0.2rem) calc(100% - 0.2rem) border-box;
  transform: translate(-0.7rem, 0.7rem);
  -webkit-clip-path: polygon(0.7rem 0%, 0.7rem 0%, 100% 0%, 100% calc(100% - 0.7rem), 100% calc(100% - 0.7rem), 0.7rem calc(100% - 0.7rem));
          clip-path: polygon(0.7rem 0%, 0.7rem 0%, 100% 0%, 100% calc(100% - 0.7rem), 100% calc(100% - 0.7rem), 0.7rem calc(100% - 0.7rem));
  transition: 0.5s;
}

.boutton:hover {
  transform: translate(0, 0);
  -webkit-clip-path: polygon(0% 0.7rem, 0.7rem 0%, 100% 0%, 100% calc(100% - 0.7rem), calc(100% - 0.7rem) 100%, 0% 100%);
          clip-path: polygon(0% 0.7rem, 0.7rem 0%, 100% 0%, 100% calc(100% - 0.7rem), calc(100% - 0.7rem) 100%, 0% 100%);
}

/* fin du copier coller design des bouttons*/
.boutton {
  font-size: 1.5rem;
}

.zone-Centrale {
  background-color: rgb(127, 181, 91);
  border-radius: 3em;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  min-width: 440px;
  height: auto;
  min-height: 15rem;
  max-width: 500px;
  padding: 1.5rem;
  /* Position des cartes dans la zone */
  display: grid;
  justify-content: center;
  gap: 0.5rem;
}

.grid1 {
  grid-row: 1/8;
}

.grid2 {
  grid-row: 8/9;
  display: flex;
  justify-content: center;
}

.grid3 {
  grid-row: 9/10;
  display: flex;
  justify-content: center;
}

.popUpBackground {
  display: none;
  height: 100vh;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.5);
}
.popUpBackground__options {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: auto;
  width: 60vw;
  max-width: 550px;
  max-height: 900px;
  background-color: rgb(127, 181, 91);
  border-radius: 3em;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.popUpBackground__options h2 {
  margin: 1rem;
}
.popUpBackground__options__carroussel {
  display: flex;
  align-items: center;
  justify-content: center;
}
.popUpBackground__options__carroussel__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  height: auto;
}
.popUpBackground__options__carroussel__container p {
  padding: 0;
  font-size: 1.5rem;
}
.popUpBackground__options__carroussel__container__liste-cartes {
  display: flex;
  align-items: center;
  /* La valeur de width correspond à la largeur des images des cartes */
  width: 286px;
  gap: 3rem;
}
.popUpBackground__options__carroussel__container__liste-cartes__carte {
  height: 300px;
  flex-shrink: 0;
  flex-grow: 0;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  width: 286px;
}
.popUpBackground__options__carroussel__container__etoiles {
  display: flex;
  gap: 0.5rem;
}
.popUpBackground__options__carroussel__container button {
  margin: 1rem;
}

.active {
  display: flex !important;
}

/* Bouttons de défilements du carroussel animés */
.fleche {
  width: 3rem;
  margin: 1rem;
  z-index: 2;
  opacity: 0.5;
  transition: opacity 0.5s ease;
}

.fleche--gauche {
  transform: rotate(180deg);
  visibility: hidden;
}

.fleche--gauche:hover {
  transform: rotate(180deg) scale(1.1);
  opacity: 1;
  transition: opacity 0.5s ease;
}

#droite:hover {
  transform: scale(1.1);
  opacity: 1;
  transition: opacity 0.5s ease;
}

.etoile {
  height: 100%;
  width: 2rem;
}

@media (max-width: 767.98px) {
  .zone-Centrale {
    border-radius: 0;
    box-shadow: 0 0 0;
    min-width: 0;
  }
  .popUpBackground__options {
    position: relative;
    height: 100vh;
    width: 100vw;
    max-width: 100vw;
    max-height: 100vh;
    background-color: rgb(127, 181, 91);
    border-radius: 0;
    box-shadow: 0 0 0;
  }
  .fleche {
    flex-basis: 1px;
    flex-shrink: 1;
  }
  .fleche--gauche {
    transform: rotate(180deg) translate(-4.5rem, 0);
    visibility: hidden;
  }
  .fleche--gauche:hover {
    transform: rotate(180deg) scale(1.1) translate(-4.5rem, 0);
    opacity: 1;
    transition: opacity 0.5s ease;
  }
  .fleche--droite {
    transform: translate(-4.5rem, 0);
  }
  .fleche--droite:hover {
    transform: scale(1.1) translate(-4.5rem, 0);
    opacity: 1;
    transition: opacity 0.5s ease;
  }
}/*# sourceMappingURL=index.css.map */