@charset "UTF-8";
body {
  margin: 3rem;
}

main {
  background-color: rgb(127, 181, 91);
  border-radius: 3em;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  padding: 1rem 1rem 1rem 1rem;
  height: auto;
  z-index: -3;
}

.regle-du-jeu {
  position: relative;
  width: 35rem;
  max-width: 90%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
  background: rgb(127, 181, 91);
}
.regle-du-jeu__titre {
  z-index: 4;
}
.regle-du-jeu__enonce {
  padding: 0;
}
.regle-du-jeu ::before {
  content: "";
  position: absolute;
  right: -1rem;
  top: 1rem;
  height: 50%;
  width: 60%;
  z-index: 1;
  border-top: 2px solid #e6e6e6;
  border-right: 2px solid #e6e6e6;
}
.regle-du-jeu ::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1rem;
  height: 50%;
  width: 60%;
  z-index: 1;
  border-bottom: 2px solid #e6e6e6;
  border-left: 2px solid #e6e6e6;
}

h1 strong {
  font-size: 2.5rem;
}

/* Positionnement des cartes */
.cartesEtMessages__grid-cartes {
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
}

.carte-a-retourner {
  position: relative;
  width: 140px;
  height: 200px;
}

.photo {
  position: relative;
  border-top: 4px black;
}

/* Positionnement de l'ensemble cartes + message personnalisé */
/* Permet d'afficher toute la photo en respectant son ratio d'orgine */
.cartesEtMessages__grid-cartes,
.photo,
.dos-de-carte,
.popUpBackground__options__carroussel__container__liste-cartes__carte {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* Positionnement du dos de carte sur la photo grâce à absolute */
.dos-de-carte,
.photo-hover {
  position: absolute;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.photo-hover {
  display: none;
}

.photo-hover:hover {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
}

.photorevele {
  z-index: 1;
}

.cartesEtMessages {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  place-items: center;
  grid-gap: 0.5rem;
}
.cartesEtMessages__message {
  padding: 1rem;
  background-color: white;
  border-radius: 15px;
  height: auto;
  padding: 1rem 0.5rem 0.5rem 0.5rem;
}
.cartesEtMessages__message__encouragement, .cartesEtMessages__message__nbDoublonsATrouver {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(95, 157, 55);
  text-align: center;
}

.droite {
  color: rgb(95, 157, 55);
  text-align: center;
  margin-right: 1rem;
}

.emplacement-carte1 {
  order: 1;
}

.emplacement-carte2 {
  order: 2;
}

.emplacement-emplacement-carte3 {
  order: 3;
}

.emplacement-carte4 {
  order: 4;
}

.emplacement-carte5 {
  order: 5;
}

.emplacement-carte6 {
  order: 6;
}

@media (max-width: 767.98px) {
  main {
    border-radius: 0;
    box-shadow: 0 0 0;
    width: 100vw;
  }
  .logo-et-nom-du-jeu__logo {
    height: 7rem;
  }
  .cartesEtMessages {
    display: grid;
    grid-template-columns: none;
    grid-template-rows: auto;
    place-items: center;
    grid-gap: 1rem;
  }
}/*# sourceMappingURL=jeu.css.map */