/* Créer les variables de couleur */
:root {

    --rgba-primary-1: rgba(211,233,197,1);
    --rgba-primary-2: rgba(189,224,167,1);
    --rgba-primary-3: rgba(127,181, 91,1);
    --rgba-primary-4: rgba( 95,157, 55,1);
    --couleurtext: white;
}

/* Comportement par défaut */
* {
    font-family: Calibri;
    color: var(--couleurtext);
    padding: 0rem;
    margin: 0rem;
}

a {
    text-decoration: none;
}


body {
    background-color: white;
    display: flex;
    flex-direction: row ;
    justify-content: center;
    align-items: center;
    
}

#logo-et-nom-du-jeu {
    display : flex;
    justify-content: center;
    align-items: center;
}

.logo {
    height: 80px;
}

h1, p {
    padding: 0.3rem;
    margin: 1rem;
}

h1 {
    text-align: center;

}

h1 strong {
    font-size: 3rem;
}

p, .boutton {
    font-size: 2rem;
}

.boutton {
    background-color: var(--rgba-primary-1);
    color: var(--rgba-primary-4);
    /* border-radius: 2rem; */
    padding: 0rem 2rem 0rem 2rem;
    text-decoration: none;
    font-size: 1.6rem;
}

