// Couleurs
$color-1: rgba(211, 233, 197, 1);
$color-2: rgba(189, 224, 167, 1);
$color-3: rgba(127, 181, 91, 1);
$color-4: rgba(95, 157, 55, 1);
$color-main: white;

//Bouttons
$border-length: 0.1rem;
$cube-depth: 0.7rem;
$cube-calculation: calc($border-length + $cube-depth);
