@use 'variables' as vars;

/* début de copier coller design bouttons */
.boutton,
.popUpBackgroundOption__options h1 {
    width: 15rem;
    color: vars.$color-main;
    border: solid #0000;
    border-width: vars.$border-length vars.$cube-calculation
        vars.$cube-calculation;
    background: conic-gradient(
                at left vars.$cube-depth bottom vars.$cube-depth,
                #0000 90deg,
                rgba(255, 255, 255, 0.3) 0 225deg,
                rgba(255, 255, 255, 0.6) 0
            )
            border-box,
        conic-gradient(
                at left vars.$cube-calculation bottom vars.$cube-calculation,
                #0000 90deg,
                vars.$color-4 0
            )
            0 100% / calc(100% - vars.$border-length)
            calc(100% - vars.$border-length) border-box;
    transform: translate(calc(vars.$cube-depth / -1), vars.$cube-depth);
    clip-path: polygon(
        vars.$cube-depth 0%,
        vars.$cube-depth 0%,
        100% 0%,
        100% calc(100% - vars.$cube-depth),
        100% calc(100% - vars.$cube-depth),
        vars.$cube-depth calc(100% - vars.$cube-depth)
    );
    transition: 0.5s;
}
.boutton:hover {
    transform: translate(0, 0);
    clip-path: polygon(
        0% vars.$cube-depth,
        vars.$cube-depth 0%,
        100% 0%,
        100% calc(100% - vars.$cube-depth),
        calc(100% - vars.$cube-depth) 100%,
        0% 100%
    );
}
/* fin du copier coller design des bouttons*/

.boutton {
    font-size: 1.5rem;
}

.zone-Centrale {
    background-color: vars.$color-3;
    border-radius: 3em;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    min-width: 440px;
    height: auto;
    min-height: 15rem;
    max-width: 500px;
    padding: 1.5rem;
    /* Position des cartes dans la zone */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
}

.popUpBackground {
    display: none;
    height: 100vh;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.5);
}

.popUpBackgroundConnexion {
    &__connexion {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: auto;
        width: 60vw;
        max-width: 550px;
        max-height: 900px;
        background-color: vars.$color-3;
        border-radius: 3em;
        box-shadow: 0 0 14px rgba(0, 0, 0, 0.3);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        &__loginForm__email,
        &__loginForm__password {
            display: flex;
            flex-direction: column;
        }
        &__boutton {
            margin-bottom: 30px;
        }
    }
}

input[type='email'],
input[type='password'] {
    width: auto;
    padding: 8px;
    margin-bottom: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.popUpBackgroundOption {
    &__options {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: auto;
        width: 60vw;
        max-width: 550px;
        max-height: 900px;
        background-color: vars.$color-3;
        border-radius: 3em;
        box-shadow: 0 0 14px rgba(0, 0, 0, 0.3);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        h2 {
            position: relative;
            margin: 1rem;
            &::before {
                content: '';
                position: absolute;
                right: -1rem;
                top: -1rem;
                height: 70%;
                width: 50%;
                z-index: 3;
                border-top: 2px solid darken(vars.$color-main, 10);
                border-right: 2px solid darken(vars.$color-main, 10);
            }
            &::after {
                content: '';
                position: absolute;
                left: -1rem;
                bottom: -1rem;
                height: 70%;
                width: 50%;
                z-index: 3;
                border-bottom: 2px solid darken(vars.$color-main, 10);
                border-left: 2px solid darken(vars.$color-main, 10);
            }
        }
        &__carroussel {
            display: flex;
            align-items: center;
            justify-content: center;
            &__container {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                overflow: hidden;
                height: auto;
                &__nom-cartes {
                    padding: 0;
                    font-size: 2rem;
                    font-weight: 600;
                }
                &__difficulte {
                    padding: 0;
                    font-size: 1.5rem;
                }
                &__liste-cartes {
                    display: flex;
                    align-items: center;
                    /* La valeur de width correspond à la largeur des images des cartes */
                    width: 286px;
                    gap: 3rem;
                    &__carte {
                        height: 300px;
                        flex-shrink: 0;
                        flex-grow: 0;
                        object-position: center;
                        object-fit: scale-down;
                        width: 286px;
                    }
                }
                &__etoiles {
                    display: flex;
                    gap: 0.5rem;
                }
                button {
                    margin: 1rem;
                }
            }
        }
    }
}
.active {
    display: flex !important;
}

/* Bouttons de défilements du carroussel animés */
.fleche {
    width: 3rem;
    margin: 1rem;
    z-index: 2;
    opacity: 0.5;
    transition: opacity 0.5s ease;
}
.fleche--gauche {
    transform: rotate(180deg);
    visibility: hidden;
}
.fleche--gauche:hover {
    transform: rotate(180deg) scale(1.1);
    opacity: 1;
    transition: opacity 0.5s ease;
}
#droite:hover {
    transform: scale(1.1);
    opacity: 1;
    transition: opacity 0.5s ease;
}

.etoile {
    height: 100%;
    width: 2rem;
}

@media (max-width: 1024px) {
}

@media (max-width: 767.98px) {
    //La taille minimale prise en compte est 360px
    .zone-Centrale {
        border-radius: 0;
        box-shadow: 0 0 0;
        min-width: 0;
        h1 strong {
            font-size: 3rem;
        }
        h1 {
            font-size: 2.5rem;
        }
    }
    .logo-et-nom-du-jeu__logo {
        height: 10rem;
    }
    .popUpBackgroundOption {
        &__options {
            position: relative;
            height: 100vh;
            width: 100vw;
            max-width: 100vw;
            max-height: 100vh;
            background-color: vars.$color-3;
            border-radius: 0;
            box-shadow: 0 0 0;
        }
    }

    .fleche {
        flex-basis: 1px;
        flex-shrink: 1;
    }

    .fleche--gauche {
        transform: rotate(180deg) translate(-4.5rem, 0);
        visibility: hidden;
    }
    .fleche--gauche:hover {
        transform: rotate(180deg) scale(1.1) translate(-4.5rem, 0);
        opacity: 1;
        transition: opacity 0.5s ease;
    }

    .fleche--droite {
        transform: translate(-4.5rem, 0);
    }

    .fleche--droite:hover {
        transform: scale(1.1) translate(-4.5rem, 0);
        opacity: 1;
        transition: opacity 0.5s ease;
    }
}
